# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

* List popular languages for Data Science
* List popular libraries for Data Science
* Create a table

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. SQL
4. Java
5. Ruby
6. PHP
7. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. Numpy
4. Pandas
5. Matplotlib

|Data Science Tools|
|---|
|Keras|
|MatLab|
|JupyterNotebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [28]:
print("This a simple arithmetic expression to mutiply then add integers")

(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [29]:
print("This will convert 200 minutes to hours by diving by 60")

(200/60)

This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Mohammad Hamza Ali Shah